name: Microsoft Security DevOps

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  security-events: write

jobs:
  msdo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Microsoft Security DevOps Scan
        uses: microsoft/security-devops-action@v1
        with:
          categories: code, secrets, dependencies, iac
